<mat-toolbar color="primary">
  <span>My Angular 17 App</span>
  <span style="flex: 1 1 auto"></span>
  @if (isLoggedIn) {
    <button mat-icon-button [matBadge]="totalItems$ | async" matBadgeColor="accent" (click)="openCartDialog()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  } @else {
    <button mat-button routerLink="/login">Login</button>
  }
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/products">Products</button>
    <button mat-menu-item routerLink="/orders">Orders</button>
    <button mat-menu-item routerLink="/categories">Categories</button>
    <button mat-menu-item routerLink="/cart">Cart</button>
    <button mat-menu-item routerLink="/product-list">Product List</button>
    <button mat-menu-item routerLink="/signalsample">Signal Sample</button>
    <button mat-menu-item routerLink="/fan-registration">Fan Registration</button>
    @if (isLoggedIn) {
      <button mat-menu-item (click)="logout()">Logout</button>
    }
  </mat-menu>
</mat-toolbar>

<h1>Hello, my-restaurant</h1>

<router-outlet />
