<mat-toolbar color="primary">
  <span>My Angular 17 App</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/products">Products</button>
    <button mat-menu-item routerLink="/orders">Orders</button>
    <button mat-menu-item routerLink="/categories">Categories</button>
    <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<h1>Hello, my-restaurant</h1>

<router-outlet />
